.row
  .large-5.columns
    = form_for @user do |f|
      = f.label :name
      = f.text_field :name, :autofocus => true
      = f.label :email
      = f.text_field :email
      = f.label :cash_balance
      = f.text_field :cash_balance
      = f.label :password
      = f.password_field :password
      = f.label :password_confirmation
      = f.password_field :password_confirmation
      = f.submit nil, :class => 'button radus'
  .large-7.columns
