index books

<% @books.each do |book| %>
  <li>
    <ul> <%= book.title %> </ul>
    <ul> <%= book.year %> </ul>
    <ul> <%= book.genre %> </ul>
    <ul> <%= book.publisher %> </ul>
    <ul> <%= image_tag(book.image) %> </ul>
  </li><%= link_to 'Delete', book, :method => :delete %>
  <%= link_to 'Edit', edit_book_path(book) %>
  </li>
<% end %>