
<!-- Nav Bar -->
 
  <div class="row">
    <div class="large-12 columns">
      <div class="nav-bar right">
       <ul class="button-group">
         <li class="active">
          <%= link_to('Home', root_path) %></li>
           <li><%= intellinav %></li>
           <li><%= link_to('New User', new_user_path) %></li>
           <li><%= link_to('All Users', users_path) %></li>
           <li><%= link_to('Exercises', exercises_path) %></li>
        </ul>
      </div>
      <h1> Pump it <small> Sweating JSON</small></h1>
      <hr />
    </div>
  </div>
 
  <!-- End Nav -->