<h2> Movie Fono </h2>




<p>
  <%= @title %> <br>
 <%= @year %><br>
 <%= @rated %><br>
  <%= @released %><br>
  <%= @runtime %><br>
  <%= @genre %><br>
  <%= @director %><br>
  <%= @writers %><br>
  <%= @actors %><br>
  <%= @plot %><br><br><br>
<br><img src="<%= @poster %>">






</p>